.client-dashboard {
  font-family: sans-serif;

}

.clientnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.search-bar {
  margin-right: 1rem;
  width: 35vw;
  height: 5vh;
  border-radius: 10px;
  border: 2px solid #5468B7;
}

.worker-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.worker-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  background: white;
}

.nav-icons button {
  margin: 0 6px;
  padding: 6px 10px;
  border: none;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.nav-icons{
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.nav-icons li{
  font-size: 17px;
  font-weight: 500;
}
.nav-icons a{
  text-decoration: none;
  color:  #5468B7;

}
.nav-icons a:hover{
  color: #44ADE6;
}
